a {
    text-decoration: none;

    &.link-pointer 
    .highlight::before {
        content: ">";
        color: #a227cd;

    }

}

body {
    transition: opacity 1s ease;
}

#app {
    height: 100vh;
}

.pointer{
    cursor: pointer;
}
.inline-block{
    display:inline-block
}
.title-left {
    text-align: left;
    margin: 0;
}

.subtitle {
    font-size: .8rem;
}

.text-small {
    font-weight: 100;
    letter-spacing: -1px;
    word-spacing: -3px;
}

.text-center {
    text-align: center;
}


.sec-title {
    text-align: center;
    margin-bottom: 3rem;
    border-top: 2px solid rgba(128, 128, 128, 0.44);
    border-left: none !important;
}