
a {
    text-decoration: none;

    &.link-pointer>.highlight::before {
        content: ">";
        color: #a227cd;

    }

}

body {
    transition: opacity 1s ease;
}

#app {
    height: 100vh;
}

.title-left {
    text-align: left;
    margin: 0;
}

.text-small {
    font-size: .8rem;
}


.text-center {
    text-align: center;
}

