#language_toggler_container {
    position: fixed;
    top: 2%;
    right: 2%;

    button {
        color: white;
        padding: calc(.2rem + 2px) calc(.7rem + 2px);
        border: none;
        font-weight: bolder;
        position: relative;
        background-color: transparent;
        cursor: pointer;
        outline: 1px solid white;
        transition: outline .3s, color .3s;

        &:hover {
            outline-color: #a227cd;
            color: #a227cd;
        }
    }
}