$primary_highlight: #a227cd;
$primary_background: #181818;

$secondary_hightlight: #a227cd;
$secondary_background: #120a14;

$primary_text_color: rgb(202, 201, 201);
$secondary_text-color: $primary_text_color;





.sec {
    >div {
        transition: opacity .3s ease;
    }

    &.translating {
        div {
            opacity: 0;
        }
    }

    align-items: center;
    min-height: 100vh;

    .starting_highlight {
        color: $primary_highlight;
    }

    .highlight {

        .chars1,
        .chars2 {

            position: relative;
            background: linear-gradient(to right, $primary_highlight, $primary_highlight 50%, $primary_text_color 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position .2s ease;
        }

        &:hover {
            .chars1 {
                // background-position: 0 100%;
                background-position: 200%;

            }

            .chars2 {
                background-position: 0;
            }
        }
    }

    &:nth-child(2n) {
        background-color: $secondary_background;

        .starting_highlight {
            color: $secondary_hightlight;
        }

        .highlight {

            .chars1,
            .chars2 {
                background: linear-gradient(to right, $secondary_hightlight, $secondary_hightlight 50%, $secondary_text-color 50%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 100%;
                background-position: 100%;
                transition: background-position .2s ease;
            }

            &:hover {
                .chars1 {
                    // background-position: 0 100%;
                    background-position: 200%;
                }

                .chars2 {
                    background-position: 0;
                }
            }
        }
    }
}